<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1><%= title %></h1>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h2>Ingredient list</h2>
          <ul>
            <% ingredientsinBar.forEach( (ingredients) => { %>
              <li> <%= ingredients.IngredientName %> : <%= ingredients.IngredientQuantity %> oz.</li>
            <% }) %>
          </ul>
        </div>

        <div class="col-12 col-md-4">
          
          <h2>Recipe list</h2>
          <ul>
          
            
          </ul>
        </div>

        <div class="col-12 col-md-4">
          <%- include("./addIngredient_form.ejs") %>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-4">
        </div>  
        <div class="col-12 col-md-4">
          <form action="/ingredients/search" method="GET">
            <div>
                <div class="form-group">
                    <label class="row">
                        <h2>Search Ingredient</h2>
                    </label>
                </div>
                <div class="form-group">
                    <label class="row">
                        <div class="col-sm-2">
                            <span>Name:</span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form_control input-sm" type="text" name="IngredientName" required>
                            
                        </div>
                    </label>
                </div>
        
                <div class="form-group">
                    <label class="row">
                        <div class="col-sm-2">
                            <span>Result:</span>
                        </div>
                        <div class="col-sm-5">
                         <output><%= nameSearched %> : <%= quantitySearched %></output>
                        </div>
                        <div class="col-sm-3">
                            <span>(oz.)</span>
                        </div>
                    </label>
                </div>
        
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Search Ingredient</button>
                </div>
            </div>
        </form>
        </div>    


      </div>
      
      
    </div>
    
    <script src="javascripts/searchIngredient.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
